.formulario{
    background-color: lightgreen;
    padding: 30px;
}

.formulario_input{
    padding: 10px;
    width: 100%;
    background-color: black;
    color: darkorange;
    font-family: montserrat;
    margin: 5px;
}

.formulario_sumbit{
    background-color: forestgreen;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: montserrat;
    width: 50%;
    box-sizing: border-box;
}