body{
    margin: 0;
    font-family: montserrat;
    font-weight: 300;
}


.grid{
    display: grid;
    grid-template-columns: 100px 200px 300px;
    grid-template-rows: 400px 200px;
}

.grid-item{
    background-color: #43c203;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    color: #fff;

}