body{
    margin: 0;
    font-family: montserrat;
    font-weight: 300;
    box-sizing: border-box;
    background-color: #368227;
    color: azure;
}

div, header, nav, ul, h1, h2, p, img{
    box-sizing: border-box;
}

/*  HEADER SECTION  */

.header{
    min-height: 100vh;
    box-sizing: border-box;
    background-image: url(desubi2.jpg);
    display: flex;
    background-size: cover;
}

.header__overlay{
    min-height: 100vh;
    width: 100%;
    background-color: #3829;
    position: absolute;
    z-index: 5;
}

.header__item-container{
    position: relative;
    z-index: 10;
    margin: auto;
    text-align: center;
    max-width: 700px;
}

.header__item-container p{
    text-wrap: pretty;
}

.header__img{
    min-width: 100px;
    max-width: 40%;
    border-radius: 50%;
    border: 5px solid #fff;
    margin: 20px;
}

h1{
    margin: 0;
    font-size: 3.6rem;
    text-wrap: balance;
}

/*  NAVBAR SECTION  */

.nav{
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 8px 20px;
    position: sticky;
    top: 0;
    margin-bottom: 10px;
    box-shadow: 0 0 25px #0009;
}

.nav__ul{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.nav__item{
    list-style: none;
}

.nav__logo-container, .nav__ul-container{
    flex-grow: 1 ;
    text-align: center;
}

.nav__ul-container{
    flex-grow: 4;
}

.nav__link{
    color: #382;
    text-decoration: none;
    display: inline-block;
    padding: 8px 10px;
    border-radius: 0;
    transition: background-color 0.24s, border-radius 0.3s;
    margin: 2px;
}

.nav__link:hover{
    background-color: #3823;
    border-radius: 20px;
}

.link--login{
    background-color: #1e8309;
    color: #fff;
    border-radius: 20px;
    padding: 8px 24px;
    margin-left: 6px;
}

.link--login:hover{
    background-color: #3829;
}

.nav__logo{
    width: 100px;
}


/*  MAIN SECTION  */
 main{
    max-width: 900px;
    margin: auto;
    font-size: 20px;
    text-wrap: pretty;
 }