body{
    margin: 0;
    font-family: montserrat;
    font-weight: 300;
}

/* fr = fractional unit = unidad fraccional
Es una forma de decir:
“Asignale a esta columna una parte proporcional del espacio disponible.” */


/* auto significa:
“Hacé que esta columna/fila mida lo que su contenido necesita.” */

.grid{
    display: grid;
    height: 80vh;
    grid-template-columns: 4fr 1fr 2fr  ;
    grid-template-rows: auto auto;
}

.grid-item{
    background-color: #43c203;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    color: #fff;
}

