body{
    margin: 0;
    font-family: montserrat;
    font-weight: 100;
}

dialog{
    background-color: #0009;
    height: 100vh;
    box-sizing: border-box;
}

.modal__content{
    background-color: aliceblue;
    padding: 10px 20px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    position: relative;
}

.modal__title{
    margin: 10px;
}

.modal__close-button{
    background-color:#000;
    color: antiquewhite;
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 15px;
}