body{
    margin: 0;
    font-family: montserrat;
    font-weight: 300;
}

div, body{
    box-sizing: border-box;

}

.flexbox{
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow:row wrap;
    margin: 20px;
    border: 2px solid #063164;
    justify-content: space-evenly;
    align-items:start;
    align-content: space-evenly;
    
    height: 360px;
}

.flex-items{
    background-color: #1b7bdb;
    width: 100px;
    height: 50px;
    color: bisque;
    font-size: 50px;
    text-align: center;
    direction: rtl;
}

.flex-items:first-child{
    background-color: #82bbf4;
}
.flex-items:last-child{
    background-color: #063164;

}